<a class='w-full' href='https://www.codedimension.com.br/cursos/testes-automatizados/'>
	<img
		src='/images/ads/ads-blog-curso-testes-automatizados.png'
		alt="Imagem com o texto: Curso testes automatizado com Angular e um Robo azul com uma logo do Angular atrás. Logo abaixo existe um botão com o texto 'Eu quero!'"
	/>
</a>
