<div class='flex justify-center flex-wrap'>
	<img src='/images/authors/me.jpg' class='rounded-full w-[100px] h-[100px]' alt="Author's photo" />

	<div class='flex flex-col justify-center ml-5'>
		<strong>Henrique Custódia</strong>
		<span>Founder</span>
	</div>
</div>
