<div scroll-target='newsletter-form' class='flex flex-col items-center justify-center w-full'>
	<h3 class='text-2xl font-bold'>Assine nossa Newsletter</h3>

	<p class='text-lg text-center mt-2'>Receba novos posts como esse na sua caixa de e-mail!</p>

	<div class='mt-2 w-full max-w-[350px]'>
		<script
			src='//web.webformscr.com/apps/fc3/build/loader.js'
			async
			sp-form-id='3e34e5cdd82a40e1abb34673f2a9c5ab3c1e841e8ef8edbfdffa7144356eda77'></script>
	</div>
</div>
