<div scroll-target='newsletter-form' class='flex flex-col items-center justify-center w-full'>
	<p class='text-xl text-center'>
		Assine nossa Newsletter e receba os últimos posts e novidades da <strong>Code Dimension</strong
		>!
	</p>

	<div class='mt-12 w-full max-w-[350px]'>
		<script
			src='//web.webformscr.com/apps/fc3/build/loader.js'
			async
			sp-form-id='3e34e5cdd82a40e1abb34673f2a9c5ab3c1e841e8ef8edbfdffa7144356eda77'></script>
	</div>
</div>
