<style lang='scss'>
	#mc_embed_signup {
		clear: left;
		font:
			14px Helvetica,
			Arial,
			sans-serif;
		max-width: 600px;
		width: 100%;

		.mc-field-group {
			width: 100% !important;
			label {
				color: #fff;
			}
		}

		#mc-embedded-subscribe {
			background: #fff;
			color: #03020f;
			width: 100%;
		}
	}

	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div class='flex flex-col items-center justify-center w-full'>
	<p class='text-xl text-center'>
		Assine nossa Newsletter e receba os últimos posts e novidades da <strong>Code Dimension</strong
		>!
	</p>

	<div class='mt-12 w-full max-w-[350px]'>
		<div id='mc_embed_shell'>
			<link
				href='//cdn-images.mailchimp.com/embedcode/classic-061523.css'
				rel='stylesheet'
				type='text/css'
			/>

			<div id='mc_embed_signup'>
				<form
					action='https://codedimension.us21.list-manage.com/subscribe/post?u=763114d7e532b32f44fb297f9&id=be790e4d75&f_id=008df1e6f0'
					method='post'
					id='mc-embedded-subscribe-form'
					name='mc-embedded-subscribe-form'
					class='validate'
					target='_blank'
				>
					<div id='mc_embed_signup_scroll'>
						<!-- <h2>Se inscreva e fique por dentro de todas as novidades!</h2> -->
						<!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->
						<div class='mc-field-group'>
							<label for='mce-EMAIL'>Seu melhor e-mail <span class='asterisk'>*</span></label>
							<input
								type='email'
								name='EMAIL'
								class='required email'
								id='mce-EMAIL'
								required=''
								value=''
								placeholder='Digite seu melhor e-mail'
							/>
						</div>
						<div hidden=''><input type='hidden' name='tags' value='2980233' /></div>
						<div id='mce-responses' class='clear'>
							<div class='response' id='mce-error-response' style='display: none;'></div>
							<div class='response' id='mce-success-response' style='display: none;'></div>
						</div>
						<div aria-hidden='true' style='position: absolute; left: -5000px;'>
							<input
								type='text'
								name='b_763114d7e532b32f44fb297f9_be790e4d75'
								tabindex='-1'
								value=''
							/>
						</div>
						<div class='clear'>
							<input
								type='submit'
								name='subscribe'
								id='mc-embedded-subscribe'
								class='button'
								value='Enviar'
							/>
						</div>
					</div>
				</form>
			</div>
			<script
				type='text/javascript'
				src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script
				type='text/javascript'
			>
				;(function ($) {
					window.fnames = new Array()
					window.ftypes = new Array()
					fnames[0] = 'EMAIL'
					ftypes[0] = 'email'
					fnames[1] = 'FNAME'
					ftypes[1] = 'text'
					fnames[5] = 'BIRTHDAY'
					ftypes[5] = 'birthday'
					fnames[2] = 'LNAME'
					ftypes[2] = 'text'
					fnames[3] = 'ADDRESS'
					ftypes[3] = 'address'
					fnames[4] = 'PHONE'
					ftypes[4] = 'phone'
				})(jQuery)
				var $mcj = jQuery.noConflict(true)
			</script>
		</div>
	</div>
</div>
