---
import TableOfContentsHeading from '@/components/TabletOfContentsHeading'

const { headings } = Astro.props

type Heading = {
	depth: number
	text: string
	slug: string
}
---

<nav class='max-w-xs dark:text-black'>
	<h1 class='font-bold mb-3 text-2xl dark:text-white'>Sumário</h1>
	<ul class='[text-wrap:balance] flex flex-col gap-1'>
		{headings.map((heading: Heading) => <TableOfContentsHeading heading={heading} />)}
	</ul>
</nav>
