---
import Title from './Title.astro'
import { Image } from 'astro:assets'
type Props = {
	title: string
}

const { title } = Astro.props

import Logo from '../assets/images/cd-logo.svg'
---

<div class='flex justify-center title'>
	<Title>{title}</Title>
</div>
