---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderTheme from '@/components/ProviderTheme'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import EditBlog from '@/components/editBlog'
import NewsletterForm from '@/components/NewsletterForm'
const { title, description, image, articleDate } = Astro.props
---

<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderTheme />
		<ProviderAnimations />

		<!-- Mailchimp Pop-up Form -->
		<script id='mcjs' is:inline>
			!(function (c, h, i, m, p) {
				;(m = c.createElement(h)),
					(p = c.getElementsByTagName(h)[0]),
					(m.async = 1),
					(m.src = i),
					p.parentNode.insertBefore(m, p)
			})(
				document,
				'script',
				'https://chimpstatic.com/mcjs-connected/js/users/763114d7e532b32f44fb297f9/fd2adaf2b8e6dda2643cadc0b.js'
			)
		</script>
	</head>

	<body class='bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white w-full h-full'>
		<main
			class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-20 mt-4 overflow-hidden md:overflow-visible'
		>
			<Header />
			<slot />

			<div class='border-t-2'></div>

			<NewsletterForm />

			<div class='border-t-2'></div>

			<Footer />
		</main>
		<TwSizeIndicator />
		<EditBlog />
	</body>
</html>
